* {
    box-sizing: border-box;
}

.div1 {
    background-color: #333533;
    display: block;
    height: 1100px;
    position: absolute;
    width: 100%;
}

.div2 {
    background-color: #F5CB5C;
    border: 10px #222222 solid;
    border-radius: 0px;
    display: block;
    height: 1000px;
    margin: 50px auto;
    text-align: center;
    width: 60vw;
}

.div3 {
    background-color: #F5CB5C;
    border: 10px #222222 solid;
    border-radius: 0px;
    display: block;
    height: 1000px;
    margin: 50px auto;
    text-align: center;
    width: 80vw;
}

@media only screen and (max-width: 600px) {
    .div2 {
        max-height: 650px;
        width: 80vw;
    }

    .div1 {
        max-height: 750px;
    }
}

.btn {
    margin: 1vh;
    width: 25vw;
}

.par1 {
    color: #333533;
    font-size: 12pt;
    font-weight: bold;
    margin: 20px 20px;
}

.homehead {
    color: #333533;
    font-family: 'Notable', sans-serif;
    font-size: 10vw;
    margin-bottom: 30px;
}

.head1 {
    color: #333533;
    font-family: 'Notable', sans-serif;
    font-size: 5vw;
}

.link:hover {
    text-decoration: none;
}

.link2 {
    color: #F5CB5C;
}

.link2:hover {
    color: darkgray;
}

#brasil {
    margin: auto;
    width: 500px;
}