.div3 {
    background-color: #333533;
    display: block;
    min-height: 100vh;
    position: absolute;
    width: 100%;
}

.div4 {
    background-color: #F5CB5C;
    border: 10px #222222 solid;
    border-radius: 0px;
    display: block;
    margin: 50px auto;
    padding-bottom: 20px;
    text-align: center;
    width: 80vw;
}

#books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 30px 2vw;
}

.book-cover {
    height: 300px;
    margin: auto;
    margin-top: 3px;
    width: auto;
}

.book-border {
    height: 306px;
    width: 208px;
    background-color: black;
    margin: auto;
}

.book-details {
    margin-left: 55px;
    text-align: left;
}

.book-details a {
    color: #333533;
    font-weight: bold;
}

.book-details a:hover {
    color: black;
}