* {
    box-sizing: border-box;
}

.div1 {
    background-color: #333533;
    display: block;
    min-height: 100vh;
    max-height: 1300px;
    position: absolute;
    width: 100%;
}

.div2 {
    background-color: #F5CB5C;
    border: 10px #222222 solid;
    border-radius: 0px;
    display: block;
    height: 1000px;
    margin: 50px auto;
    text-align: center;
    width: 60vw;
}

.btn {
    margin: 1vh;
    width: 25vw;
}

.par1 {
    color: #333533;
    font-size: 12pt;
    font-weight: bold;
    margin: 20px 20px;
}

.homehead {
    color: #333533;
    font-family: 'Notable', sans-serif;
    font-size: 9vw;
    margin-bottom: 30px;
}

.head1 {
    color: #333533;
    font-family: 'Notable', sans-serif;
    font-size: 7vw;
    margin-bottom: 15px;
}

h2 {
    padding-bottom: 10px;
}

.link:hover {
    text-decoration: none;
}

.link2 {
    color: #F5CB5C;
}

.link2:hover {
    color: darkgray;
}

.explain {
    margin-top: -15px;
    font-size: 10pt;
}

.homelink {
    color: #333533;
    font-size: 12pt;
    font-weight: bold;
}

.homelink:hover {
    color: #333533;
    text-decoration: underline;
}

.footer {
    color: whitesmoke;
    text-align: center;
    font-size: 10pt;
}

.gitlogo {
    float: inline-end;
    width: 20px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .div2 {
        max-height: 650px;
        width: 90vw;
    }
}